.topico {
    background-color: var(--azul);
    text-align: center;
    padding: 1em 0;
}

.topico__titulo {
    color: var(--cor-de-fundo);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 1em;
}

.topico__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.topico__item {
    margin: 1.3em 0.5em;
}

.topico__links {
    background-color: var(--laranja);
    color: white;
    padding: 1.1em;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.contato {
    color: var(--azul);
}

.contato__container {
    margin: 1.3em;
}

.contato__titulo {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 1em 0;
}

.contato__texto {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    margin: 1.3em 0;
    width: 90%;
    color: var(--azul);
}
 

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    padding-left: 2em;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background:url(../imagens/Email.svg);
    background-repeat: no-repeat;
    align-items: center;
    
}

.rodape {
    border-top: 1px solid black;
    background-color: var(--branco);
}

.rodape__titulo {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 1.3em;

}